@font-face {
  font-family: Molde;
  src: url("Fonts/Molde-SemiCondensed-Medium.ttf");
}

* {
  margin: 0;
  font-weight: bolder;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Molde !important;
  font-stretch: semi-condensed !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  font-family: Molde !important;
  font-stretch: semi-condensed !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select option {
  font-size: 140%;
}

#background {
  background-image: url("Media/body.jpg");
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

main {
  height: auto;
  display: block;
  position: relative;
  width: 50%;
  top: 28vh;
  left: 25%;
  margin-bottom: 40vh;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 2.5vh;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.goldtext {
  color: #fdc90b;
  font-weight: bolder;
}

.bluetext {
  color: #0043a7;
  font-weight: bolder;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
