.loader {
  padding: 5%;
  position: relative;
  width: 100%;
  min-height: 60vh;
  background-color: white;
  border: 1pt solid grey;
}

.loader img {
  position: relative;
  left: 25%;
  width: 40%;
  margin: 2.5%;
}

.loader p {
  color: #7587a1;
  font-size: 2em;
  text-align: center;
}
